<%- include('include/_header') %>
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Clients</a>
            </div>
         </div>
         <div class="form-title text-center">
             <h2 class="text-dark">Update Client</h2>
             <span class="text-light">Use the below form to Update an account</span>
         </div>
         <form method="POST" id="update_user">
         
                <div class="new_user">
                    <div class="form-group">
                        <label for="start">
                            Enter the Start Date:
                        </label>
                      
                        <input type=" Startdate" name="begin" 
                            placeholder="dd-mm-yyyy" value=""
                            min="1997-01-01" max="2030-12-31">
                        <input type="hidden" name="id" value="">
             
                    </div>
                    <div class="form-group">
                        <label for="start">
                            Enter the End Date:
                        </label>
                        <input type=" Startdate" name="begin" 
                            placeholder="dd-mm-yyyy" value=""
                            min="1997-01-01" max="2030-12-31">
                        <input type="hidden" name="id" value="">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light"> Project Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light"> Project Id</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light"> Sales Id</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="text-light">Plan name</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="gender" value="Male" >
                            <label for="radio-2" class="radio-label">Essential</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="gender" value="Female" >
                            <label for="radio-3" class="radio-label">Premium</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="gender" value="Female" >
                            <label for="radio-3" class="radio-label">Advanced</label>
                        </div>
                        <div class="form-group">
                            <label for="name" class="text-light"> Sales Id</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" value="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="name" class="text-light"> No of Reports</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" value="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="name" class="text-light"> Consumed Reports</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" value="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="name" class="text-light"> No of Expert Engagement</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" value="" placeholder="">
                        </div>
                    </div>
            
                    
            
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
            
                </div>
            </form>
            
        </form>
        
        </div>
        </main>
        <%- include('include/_footer') %>